<div class="container vw-75" >
  <mat-card-title>Change Password</mat-card-title>
 
    <mat-card class="round-corner-20">
      <div class="row p-3">
        <div class="col-md-12">
         
          <form [formGroup]="changePasswordForm" (submit)="updatePassword()">
    
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Old Password</mat-label>
              <input formControlName="oldPassword" placeholder="Enter Old Password" matInput [type]="hide ? 'password' : 'text'" required="">
              <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="fields['oldPassword'].errors?.['required']">old password is required</mat-error>
              <mat-error *ngIf="fields['oldPassword'].errors?.['minlength']">password must be 8 character long</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>New Password</mat-label>
              <input formControlName="newPassword" placeholder="Enter New Password" matInput [type]="hide ? 'password' : 'text'" required="">
              <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="fields['newPassword'].errors?.['required']">new password is required</mat-error>
              <mat-error *ngIf="fields['newPassword'].errors?.['minlength']">password must be 8 character long</mat-error>
            </mat-form-field>
            
    
            <div class="text-center">
              <button type="submit" class="btn-myprimary" [disabled]="changePasswordForm.invalid">Change</button>
            </div>
            
            <!-- {{ changePasswordForm.value | json }} -->
          </form>

        </div>
      </div>

    </mat-card>

</div>