
<div class="containers" *ngIf="cartItem?.length && cartItem!=null; else elseBlock">
 
    <ul>
      <li *ngFor="let item of cartItem">
  
        <div>
          <img [src]="'http://localhost:8080/product/productImage/'+item.product_image" alt="item.product.productName">
        </div>
  
        <div>
          <a routerLink="">
           {{item.productName}}
          </a>
        </div>
        <div>
  
          <div class="flex">
            <div class="text-center">
              <button mat-icon-button class="myPrimary" (click)="incrementQuantity(item)" [disabled]="item.quantity>=item.stock">
                <mat-icon class="mat-18">add_circle</mat-icon>
              </button>
            </div>
            <div class="text-center">
              {{item.quantity}}
            </div>
            <div class="text-center">
              <button mat-icon-button class="myPrimary" (click)="decrementQuantity(item.productId)">
                <mat-icon class="mat-18">remove_circle</mat-icon>
              </button>
            </div>
          </div>
        

        </div>
        <div>
          {{item.price | currency:"Rs"}}
        </div>
        <!-- <div>
          {{item.product.price*item.quantity | currency:"Rs"}}
        </div> -->
        <div>
          <button class="remove-button" (click)="removeFromCart(item.productId)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
  
      </li>
    </ul>
    <div class="checkout">
      <div class="checkMain">
        <div>
          <span>Total Product:</span>
          <span class="food-count">{{totalQuantity}}</span>
        </div>
        <div>
          <span>SubTotal:</span>
          <span class="total-price">{{totalPrice | currency:"Rs"}}</span>
        </div>
      </div>
      <a routerLink="/checkout">Proceed to  Checkout</a>
    </div>
  
</div> 


<ng-template #elseBlock>
  <app-cart-empty ></app-cart-empty>
</ng-template>
