
<div class="container vw-75" >
  <div class="row">
    <div class="col-md-12">
      <mat-card>
        <mat-card-header>
            <mat-card-title>Add New Product</mat-card-title>
        </mat-card-header>
    
        <mat-card-content>
          <form [formGroup]="updateProductForm" (ngSubmit)="addProduct()">

            <div class="row">
              <div class="col-md-6">

                <div class="mb-3">
                  <input #fileInput class="form-control" type="file" accept="image/*" (change)="selectImg($event)" required>
                  <mat-hint>required*</mat-hint>
                </div>
                
                <div class="preview-img">
                  <img id="blah" class="img-thumbnail" [src]="imageSrc || productSrc" alt="your image" width="600"/>
                </div>
              
               
              </div>

              <div class="col-md-6">

                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Product Name</mat-label>
                  <input type="text" matInput placeholder="Enter Product Name" formControlName="productName">
                  <mat-error *ngIf="getFields['productName'].errors?.['required']">product Name is required</mat-error>
                </mat-form-field>

                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Quantity</mat-label>
                      <input type="number" matInput placeholder="Enter Product Quantity" formControlName="quantity">
                      <mat-error *ngIf="getFields['quantity'].errors?.['required']">quantity is required</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Price per Kgs/Dozen</mat-label>
                      <input type="number" matInput placeholder="Enter Price per Kgs/Dozen" formControlName="price">
                      <mat-error *ngIf="getFields['price'].errors?.['required']">product Name is required</mat-error>
                    </mat-form-field>
                  </div>
                </div>

          
                
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Select an measure</mat-label>
                  <mat-select formControlName="measure">
                    <mat-option value="KGs">KGs</mat-option>
                    <mat-option value="Dozen">Dozen</mat-option>
                  </mat-select>
                  <mat-error *ngIf="getFields['measure'].errors?.['required']">measure is required</mat-error>
                </mat-form-field>
            
                <mat-form-field class="example-full-width" appearance="outline" formGroupName="productCategory">
                  <mat-label>Select an Category</mat-label>
                  <mat-select formControlName="categoryId">
                    <mat-option [value]="cate.categoryId" *ngFor="let cate of categories">{{cate.categoryName}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="updateProductForm.get(['productCategory','categoryId'])?.errors">category is required</mat-error>
                </mat-form-field>
                  

                <div class="text-center mb-3 mt-1">
                  <button class="btn-myprimary" type="submit" [disabled]="updateProductForm.invalid">submit</button>
                </div>

              </div>
            </div>
          
          </form>
        </mat-card-content>
        
      </mat-card>

    </div>
  </div>
</div>
