<div class="container">
  <div class="row">
    <div class="col-md-12">
      <mat-card>
        <mat-card-header>
          <mat-card-title>My Cart</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="text-center">
            <img class="imgsize img-fluid" src="../../../assets/empty.webp" alt="">
          </div>
          <button mat-icon-button color="primary" routerLink="/home">
            <mat-icon class="mat-18">arrow_back</mat-icon>
            Shop Now
          </button>
        </mat-card-content>
      </mat-card>
      <div>
        <h3 class="text-center"></h3>

      </div>
    </div>
  </div>
</div>
