.overflow{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.size{
  height: 30rem;
}

.flex{
  display: flex;
  align-items: center;
}

.pointer{
  cursor: pointer;
}

.front{
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.marginTop{
  margin-top: -10;
}

.relative{
  position: relative;
}

.absolute{
  position: relative;
  top: 0;
}

.index{
  z-index: 0;
}
.middle-center{
  border: none;
}

.carousel-caption{
  position: absolute;
  top: 25%;
}




/* product listing css */
ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;

}

ul li a{
  height: 19rem;
  width: 20rem;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: var(--myPrimary);
}


li a:hover{
  opacity: 0.9;
  cursor: pointer;
  box-shadow: 0px 0px 10px 1.5px rgb(210, 210, 210);
}

li a img{
  height: 60%;
}

.content{
  padding: .5rem 1rem;
  position: relative;

}

.product-item-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category{
  flex: 4;
}

.category span{
  border-radius: 10px;
  padding: 0 10px;
  background-color: rgb(230, 230, 230);
  color: gray;
  font-size: .9rem;
  margin-right: .3rem;
  display: inline-block;
}

.date{
  font-size: .9rem;
  flex: 8;
  text-align: right;
}

.price{
  color: #424242;
  margin-top: .5rem;
}

