<!-- carousel -->
<div class="absolute index">
  <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-
        current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="6000">
        <img src="../../../assets/front.jpg" class="d-block w-100" alt="...">
        <div class="middle-center">
          <div class="carousel-caption d-none d-md-block ">
            <h1 class="myprimary">WELCOME TO OUR HEALTHY STORE!</h1>
            <p class="mt-3 mb-4">We are beyond happy to welcome you in our warm and friendly online market <br> of organic fruits, vegetables</p>
            <a (click)="moveToShop()" class="btn-myprimary">SHOP NOW</a>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="6000">
        <img src="../../../assets/front1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1 class="myprimary">WELCOME TO OUR HEALTHY STORE!</h1>
          <p class="mt-3 mb-4">We are beyond happy to welcome you in our warm and friendly online market <br> of organic fruits, vegetables</p>
          <a (click)="moveToShop()" class="btn-myprimary">SHOP NOW</a>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="6000">
        <img src="../../../assets/front2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1 class="myprimary">WELCOME TO OUR HEALTHY STORE!</h1>
          <p class="mt-3 mb-4">We are beyond happy to welcome you in our warm and friendly online market <br> of organic fruits, vegetables</p>
          <a (click)="moveToShop()" class="btn-myprimary">SHOP NOW</a>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<!-- Product listing  -->
<div class="container-fluid mt-5" #shop id="shop">
  <div class="row">

    <div class="col-md-12">
      <section class="section products-main">
        <div class="container">


          <div class="mt-3 mb-4">
            <app-search></app-search>
            <app-category-tag></app-category-tag>
          </div>

          <div class="row">
            <div *ngIf="Products.content.length==0" class="alert alert-warning" role="alert">
              No Data Found !!
            </div>
            <ul *ngIf="Products.content.length>0">
              <li *ngFor="let prod of Products?.content">
                <a [routerLink]="'/product-single/'+prod.productId">
                  <img [src]="'http://localhost:8080/product/productImage/'+prod.product_image" alt="food img">
                  <div class="content">
                    <div class="name">
                      <h3>{{prod.productName}}</h3> 
                    </div>
                    
                    <div class="product-item-footer">
                      <div class="category">
                        <span>
                          {{prod.productCategory.categoryName}}
                        </span>
                      </div>
  
                      <div class="date">
                        {{prod.date | date}}
                      </div>

                    </div>
                    
                    <div class="price">
                      {{prod.price | currency:"Rs"}} Per {{prod.measure}}
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          
          </div>
          <mat-paginator 
              [length]="Products.totalElements"
              [pageSize]="Products.pageSize"
              [pageSizeOptions]="[10, 15, 25, 40, 100]"
              (page) = "pageEvent = $event; onPaginateChange($event)"
              aria-label="Select page">
          </mat-paginator>
        </div>
      </section>

      <section class="features mt-5">
        <mat-divider></mat-divider>
        <div class="container mt-4">
          <div class="row space-between">
            <div class="col-lg-3 col-sm-6 col-md-6">
              <div class="feature-block">
                <div class="content">
                  <div class="flex">
                    <mat-icon class="mat-18 mr-2">local_shipping</mat-icon>
                    <h5 class="m-0">Shipping Charges</h5>
                  </div>
                  <p class="text-center">{{ '200' | currency:'Rs.'}}</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
              <div class="feature-block">
                <i class="tf-key"></i>
                <div class="content">
                  <div class="flex">
                    <mat-icon class="mat-18 mr-2">gpp_good</mat-icon>
                    <h5 class="m-0">Secure Checkout</h5>
                  </div>
                  <p class="text-center">100% Protected</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
              <div class="feature-block">
                <i class="tf-clock"></i>
                <div class="content">
                  <div class="flex">
                    <mat-icon class="mat-18 mr-2">support_agent</mat-icon>
                    <h5 class="m-0">24/7 Support</h5>
                  </div>
                  <p class="text-center">All time customer support</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>