.example-spacer {
  flex: 1 1 auto;
}

button{
  outline: none;
  transition: all .1s ease-in-out;
}

button:hover{
  color: var(--myPrimary);
}

.sticky{
  position: sticky;
  top: 0;
  z-index: 99;
  margin-bottom: 0;
  border-bottom: 1px solid rgb(143, 143, 143);
}

.transparent{
  /* background-color: rgba(0, 0,0, 0.8); */
  background-color: rgba(0, 0,0,1);
  color: white;
}


::ng-deep .mat-menu-panel.bg-mat-manu {
  background-color: rgba(0, 0,0, 0.8);
  /* color: white; */
  border: 1px solid rgb(143, 143, 143);

}

::ng-deep .mat-menu-panel{
  background-color: rgba(0, 0,0, 0.8);
  /* color: white; */
  border: 1px solid rgb(143, 143, 143);
}

button{
  color: white;
}

.white{
  color: white;
}

img{
  width: 32px;
  height: 30px;
  border-radius: 25px;
}