<mat-card class="no-shadow">
  <mat-card-header>
      <mat-card-title>Menu</mat-card-title>
  </mat-card-header>

  <mat-card-content>
      <mat-selection-list [multiple]="false">

        <mat-list-option routerLink="/admin-dashboard/profile">
          <button mat-icon-button>
            <mat-icon class="mat-18">account_circle</mat-icon>
            Profile
          </button>
        </mat-list-option>

        <mat-list-option routerLink="/admin-dashboard/buyer-list">
          <button mat-icon-button>
            <mat-icon class="mat-18">groups</mat-icon>
            Buyers
          </button>
        </mat-list-option>

        <mat-list-option routerLink="/admin-dashboard/seller-list">
          <button mat-icon-button>
            <mat-icon class="mat-18">group</mat-icon>
            Sellers
          </button>
        </mat-list-option>

        <mat-list-option routerLink="/admin-dashboard/products-list">
          <button mat-icon-button>
            <mat-icon class="mat-18">list</mat-icon>
            Products
          </button>
        </mat-list-option>

        <mat-list-option routerLink="/admin-dashboard/user-report">
          <button mat-icon-button>
            <mat-icon class="mat-18">flag</mat-icon>
            User Report
          </button>
        </mat-list-option>

        <mat-list-option routerLink="/admin-dashboard/add-category">
          <button mat-icon-button>
            <mat-icon class="mat-18">add_circle</mat-icon>
            Add Category
          </button>
        </mat-list-option>

        <mat-list-option routerLink="/admin-dashboard/category-list">
          <button mat-icon-button>
            <mat-icon class="mat-18">category</mat-icon>
            View Categories
          </button>
        </mat-list-option>

        <mat-list-option (click)="logout()">
          <button mat-icon-button>
            <mat-icon class="mat-18">logout</mat-icon>
            Logout
          </button>
        </mat-list-option>

      </mat-selection-list>
  </mat-card-content>
</mat-card>
