.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.example-full-width {
  width: 100%;
}

/* .imgSize{
  width: 100%;
  height: 300px;
} */

::ng-deep .mat-progress-bar-fill::after{
    background-color: var(--myPrimary);
}
