/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import './theme.css';


body { 
    margin: -4.1rem 0 0 0 !important; 
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

.myprimary{
    color: var(--myPrimary);
}

.top-space{
    padding-top: 8rem;
}

.bottom-space{
    padding-bottom: 5rem;
}

.btn-myprimary{
    color: white;
    background-color: var(--myPrimary);
    border: none;
    padding: .4rem 1rem;
    border-radius: 5px;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    transition: all .1s ease-in-out;
}
  
.btn-myprimary:hover{
    color: white;
    background-color: var(--myPrimaryDark);
}

.btn-myprimary:disabled,
.btn-myprimary[disabled]{
  background-color: #cccccc;
  color: #666666;
}

.btn-mydanger{
    color: white;
    background-color: var(--myDanger);
    border: none;
    padding: .4rem 1rem;
    border-radius: 5px;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    transition: all .1s ease-in-out;
}
  
.btn-mydanger:hover{
    color: white;
    background-color: var(--myDangerDark);
}

.btn-mydanger:disabled,
.btn-mydanger[disabled]{
  background-color: #cccccc;
  color: #666666;
}

.dashboard-top-5rem{
    margin-top: 4rem !important;
}

.color{
    color: var(--myPrimary);
}

.mybtn{
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.mybtn:hover{
    color: var(--myPrimary);
}

.ml-3{
    margin-left: 1rem;
}

.snack-success{
    background-color: var(--myPrimary);
    position: relative;
    top: 3rem;
}

.snack-dander{
    background-color: var(--myDanger) !important;
    position: relative;
    top: 3rem;
}


.mat-simple-snack-bar-content{
    font-size: 1.2rem;
    color: white;
}

.vw-75{
    width: 75vw;
}



.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: var(--myPrimary);
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-label {
    color: var(--myPrimary);
}

.mat-form-field-appearance-legacy.mat-focused .mat-form-field-ripple {
    color: var(--myPrimary);
}

.mat-form-field-appearance-legacy.mat-focused .mat-form-field-label {
    color: var(--myPrimary);
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled){
    color: var(--myPrimary);

}