<div class="bg-img">
  <div class="my-flex account section top-space bottom-space">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">

          <!-- forgot password form -->
          <div class="login-form border p-5 " *ngIf="isForgotForm">
            <div class="text-center heading">
              <h2 class="mb-2">Forgot Password</h2>
              <div *ngIf="message" class="alert alert-danger" role="alert">
                {{ message }}
              </div>
            </div>
  

            <form  [formGroup]="forgotPasswordForm" (submit)="sendOTP()">
  
          
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>username</mat-label>
                <input type="text" matInput placeholder="Entre username" formControlName="userName">
                <mat-error *ngIf="forgotField['userName'].errors?.['required']">username is required</mat-error>
                <mat-hint>OTP will send to the given email, that you submitted at the time of joining</mat-hint>
              </mat-form-field>
              
  
              <div class="text-center mt-3">
                <button type="submit" class="btn-myprimary" [disabled]="forgotPasswordForm.invalid">Send OTP</button>
              </div>
      
            </form>
          </div>


          <!-- verify OTP form -->
          <div class="login-form border p-5 " *ngIf="!isForgotForm">
            <div class="text-center heading">
              <h2 class="mb-2">Verify OTP</h2>
              <div *ngIf="message && !error" class="alert alert-success" role="alert">
                {{ message }}
              </div>
              <div *ngIf="message && error" class="alert alert-danger" role="alert">
                {{ message }}
              </div>
            </div>
  
            <form  [formGroup]="verifyOtpForm" (submit)="verify()">
  
          
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Verify OTP</mat-label>
                <input type="number" matInput placeholder="Entre OTP" formControlName="userOtp">
                <mat-error *ngIf="verifyField['userOtp'].errors?.['required']">OTP is required</mat-error>
                <!-- <mat-hint>OTP will send to the given email, that you submitted at the time of joining</mat-hint> -->
              </mat-form-field>
              
  
              <div class="text-center mt-3">
                <button type="submit" class="btn-myprimary" [disabled]="verifyOtpForm.invalid">verify</button>
              </div>

              
            </form>
          </div>

        </div>     
      </div>
    </div>
  </div>

</div>

