<div class="bg-img">
  <div class="account section top-space bottom-space">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="login-form border p-5 ">
            <div class="text-center heading">
              <h2 class="mb-2">Sign Up As Seller</h2>
              <p class="lead">Already have an account? <a class="hover" routerLink="/login"> Login now</a></p>
            </div>

              <mat-stepper linear="true" #stepper class="bg">
                
                <!-- [stepControl]="userDetailFormGroup" -->
                <mat-step >
                  <form [formGroup]="userDetailFormGroup">
                    <ng-template matStepLabel>User Details</ng-template>
                      
                      <div class="row">
                        <div class="col-md-6">
                          
                          <div class="row">
                            <div class="col-md-6">
                              <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>First Name</mat-label>
                                <input matInput placeholder="Last name, First name" formControlName="first_name" required>
                              </mat-form-field>
                            </div>
                            <div class="col-md-6">
                              <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Last Name</mat-label>
                                <input matInput placeholder="Last name, First name" formControlName="last_name" required>
                              </mat-form-field>
                            </div>
                          </div>

                          <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>User Name</mat-label>
                            <input matInput placeholder="Last name, First name" formControlName="userName" required>
                          </mat-form-field>
                         


                        </div>

                        <div class="col-md-6">
    
                          <div class="row">
                            <div class="col-md-6">
                              <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Email</mat-label>
                                <input matInput placeholder="Last name, First name" formControlName="email" required>
                              </mat-form-field>
                            </div>
                            <div class="col-md-6">
                              <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Phone</mat-label>
                                <input matInput placeholder="Last name, First name" formControlName="phone" required>
                              </mat-form-field>
                            </div>

                            <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>Password</mat-label>
                              <input matInput placeholder="Last name, First name" formControlName="password" required>
                            </mat-form-field>

                          </div>
                        </div>
                       
                      </div>
                    <div>
                      <button class="btn-myprimary" matStepperNext>Next</button>
                    </div>
                  </form>
                </mat-step>
                
                <!-- [stepControl]="userPersonalFormGroup" -->
                <mat-step  label="Personal Details">
                  <form [formGroup]="userPersonalFormGroup">

                    <div class="row">
                      
                      <div class="col-md-6">
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>Address</mat-label>
                          <input matInput formControlName="address" placeholder="Ex. 1 Main St, New York, NY" required>
                        </mat-form-field>
                      </div>
                      
                    </div>
                  
                    {{userPersonalFormGroup.value | json}}

                    <div>
                      <button class="btn-myprimary mr" matStepperPrevious>Back</button>
                      <button class="btn-myprimary mr" matStepperNext>Next</button>
                    </div>
                  </form>
                </mat-step>
                
                <mat-step>
                  <ng-template matStepLabel>Done</ng-template>

                    <div class="mb-3">
                      <input class="form-control" type="file" accept="image/*" (change)="selectImg($event)">
                    </div>

                    <!-- Progress Bar -->
                    <div *ngIf="progress > 0">
                      <p class="mb-0 float-right">{{progress}}%</p>
                      <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
                      <p>{{profileUploadMsg}}</p>
                    </div>

                  <div>
                    <button class="btn-myprimary mr" matStepperPrevious>Back</button>
                    <button class="btn-myprimary mr" (click)="stepper.reset()">Reset</button>
                    <button class="btn-myprimary mr" (click)="onSubmit()">Signup</button>

                  </div>
                </mat-step>
              </mat-stepper>
             
          
  
          </div>
        </div>
      </div>
    </div>
  </div>

</div>