<div class="bg-img">
  <div class="account section top-space bottom-space">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="login-form border p-5 ">
            <div class="text-center heading">
              <h2 class="mb-2">Sign Up As Seller</h2>
              <p class="lead">Already have an account? <a class="hover" routerLink="/login"> Login now</a></p>
            </div>

              <mat-stepper linear="true" #stepper class="bg">
                
                
                <mat-step [stepControl]="userDetailFormGroup">
                  <form [formGroup]="userDetailFormGroup">
                    <ng-template matStepLabel>User Details</ng-template>
                      
                      <div class="row">
                        <div class="col-md-6">
                          
                          <div class="row">
                            <div class="col-md-6">
                              <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>First Name</mat-label>
                                <input matInput placeholder="Enter your first name" formControlName="first_name" required>
                              </mat-form-field>
                            </div>
                            <div class="col-md-6">
                              <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Last Name</mat-label>
                                <input matInput placeholder="Enter your last name" formControlName="last_name" required>
                              </mat-form-field>
                            </div>
                          </div>

                          <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>User Name</mat-label>
                            <input matInput placeholder="Enter your UserNamme" formControlName="userName" required>
                            <mat-hint>Username Must be Unique</mat-hint>
                          </mat-form-field>
                         


                        </div>

                        <div class="col-md-6">
                            
                          <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Enter your Email" formControlName="email" required>
                          </mat-form-field>
                            
                          <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input formControlName="password" placeholder="Enter password" matInput [type]="hide ? 'password' : 'text'" required="">
                            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                          </mat-form-field>

                        </div>
                       
                      </div>
                    <div>
                      <button class="btn-myprimary" matStepperNext>Next</button>
                    </div>
                  </form>
                </mat-step>
                
                
                <mat-step  label="Personal Details" [stepControl]="userPersonalFormGroup">
                  <form [formGroup]="userPersonalFormGroup">

                    <div class="row">
                      <div class="col-md-6">
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>Phone</mat-label>
                          <input matInput placeholder="Enter your Phone Number" formControlName="phone" required>
                        </mat-form-field>
                      </div>
                      
                      <div class="col-md-6">
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>Address</mat-label>
                          <input matInput formControlName="address" placeholder="Ex. 1 Main St, New York, NY" required>
                        </mat-form-field>
                      </div>

                      <div class="col-md-6">
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>City</mat-label>
                          <input matInput formControlName="city" placeholder="Enter your city" required>
                        </mat-form-field>
                      </div>
                      
                      <div class="col-md-6">
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>Cnic No</mat-label>
                          <input matInput formControlName="cnic" placeholder="Enter Your Cnic Number" required>
                        </mat-form-field>
                      </div>
                      
                    </div>
                
                    <div>
                      <button class="btn-myprimary mr" matStepperPrevious>Back</button>
                      <button class="btn-myprimary mr" matStepperNext>Next</button>
                    </div>
                  </form>
                </mat-step>
                
                <mat-step>
                  <ng-template matStepLabel>Done</ng-template>

                    <div class="mb-3">
                      <input class="form-control" type="file" accept="image/*" (change)="selectImg($event)">
                    </div>

                  <div>
                    <button class="btn-myprimary mr mt-2" matStepperPrevious>Back</button>
                    <button class="btn-myprimary mr mt-2" (click)="stepper.reset()">Reset</button>
                    <button class="btn-myprimary mr mt-2" (click)="onSubmit()">Signup</button>

                  </div>
                </mat-step>
              </mat-stepper>
             
          
  
          </div>
        </div>
      </div>
    </div>
  </div>

</div>