<div class="account section">
  <div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="login-form border p-5">
        <div class="text-center heading">
          <h2 class="mb-2">Contact & Delivery Information</h2>
        </div>

        <form [formGroup]="userOrderForm" (ngSubmit)="submit()">

          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>First Name</mat-label>
                <input type="text" matInput placeholder="Enter first name" formControlName="firstname">
                <mat-error *ngIf="fields['firstname'].errors?.['required']">first name is required</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Last Name</mat-label>
                <input type="text" matInput placeholder="Enter last name" formControlName="lastname">
                <mat-error *ngIf="fields['lastname'].errors?.['required']">last name is required</mat-error>
              </mat-form-field>
            </div>
          </div>

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter your email" formControlName="email">
            <mat-error *ngIf="fields['email'].errors?.['required']">email is required</mat-error>
            <mat-error *ngIf="fields['email'].errors?.['email']">email is invalid</mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input type="number" matInput placeholder="Enter phone Number" formControlName="phone">
            <mat-error *ngIf="fields['phone'].errors?.['required']">phone is required</mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Delivery Address</mat-label>
            <input type="text" matInput placeholder="Enter Address" formControlName="deliveryAddress">
            <mat-error *ngIf="fields['deliveryAddress'].errors?.['required']">address is required</mat-error>
          </mat-form-field>


          <div class="text-center">
            <button mat-stroked-button color="primary" class="mr-3" routerLink="/cart">Go Back</button>
            <button type="submit" mat-flat-button color="primary" [disabled]="userOrderForm.invalid">Place Order</button>
          </div>


        </form>

      </div>
    </div>
  </div>
</div>

