<mat-card>
  <mat-card-header>
    <mat-card-title>Your Orders</mat-card-title>
    <mat-card-subtitle>
      <mat-form-field>
        <mat-label>Filter by date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          (dateInput)="getDate($event)"
        />
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <button class="ml-3" mat-button (click)="getAllOdreDetails()">
        Get all
      </button>
      <p><strong>Filtered By:</strong> {{date? date:'All'}}</p>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content *ngIf="filterByDate.length == 0 && date == '' ">
    <div class="row">
      <div class="col-md-12" *ngFor="let detail of orderDetails; let i = index">
        <div>
          <div class="card mt-3">
            <div class="card-body">
              <div class="card-title space-between">
                <h5>Your Bill</h5>
                <span class="ml-5">{{ detail.dateTime }}</span>
              </div>
              <div class="card-text">
                <div class="row">
                  <div class="col-md-6">
                    <div class="flex">
                      <strong>Name:</strong>
                      <p class="ml-3">
                        {{ detail.firstname + " " + detail.lastname }}
                      </p>
                    </div>
                    <div class="flex">
                      <strong>Email:</strong>
                      <p class="ml-3">{{ detail.email }}</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="flex">
                      <strong>Phone:</strong>
                      <p class="ml-3">{{ detail.phone }}</p>
                    </div>
                    <div class="flex">
                      <strong>Delivery Address:</strong>
                      <p class="ml-3">{{ detail.deliveryAddress }}</p>
                    </div>
                  </div>
                </div>

                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Title</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Amount</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr *ngFor="let item of detail.cartItem; let a = index">
                        <td>{{ item.title }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.price | currency }}</td>
                        <td>{{ item.quantity * item.price | currency }}</td>
                      </tr>

                      <tr>
                        <td><strong>SubTotal</strong></td>
                        <td>
                          <strong>{{ detail.totalQty }}</strong>
                        </td>
                        <td></td>
                        <td>
                          <strong>{{ detail.subTotal | currency }}</strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>

  <mat-card-content
    *ngIf="filterByDate.length != 0 && date != '' ">
    <div class="row">
      <div class="col-md-12" *ngFor="let detail of filterByDate; let i = index">
        <div>
          <div class="card mt-3">
            <div class="card-body">
              <div class="card-title space-between">
                <h5>Your Bill</h5>
                <span class="ml-5">{{ detail.dateTime }}</span>
              </div>
              <div class="card-text">
                <div class="row">
                  <div class="col-md-6">
                    <div class="flex">
                      <strong>Name:</strong>
                      <p class="ml-3">
                        {{ detail.firstname + " " + detail.lastname }}
                      </p>
                    </div>
                    <div class="flex">
                      <strong>Email:</strong>
                      <p class="ml-3">{{ detail.email }}</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="flex">
                      <strong>Phone:</strong>
                      <p class="ml-3">{{ detail.phone }}</p>
                    </div>
                    <div class="flex">
                      <strong>Delivery Address:</strong>
                      <p class="ml-3">{{ detail.deliveryAddress }}</p>
                    </div>
                  </div>
                </div>

                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Title</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Amount</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr *ngFor="let item of detail.cartItem; let a = index">
                        <td>{{ item.title }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.price | currency }}</td>
                        <td>{{ item.quantity * item.price | currency }}</td>
                      </tr>

                      <tr>
                        <td><strong>SubTotal</strong></td>
                        <td>
                          <strong>{{ detail.totalQty }}</strong>
                        </td>
                        <td></td>
                        <td>
                          <strong>{{ detail.subTotal | currency }}</strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>

  <div *ngIf="filterByDate.length == 0 && date != '' ">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Not Found</h5>
      </div>
    </div>
  </div>
</mat-card>
