<!-- [visible]="!Product" -->
<app-notfound *ngIf="!Product"  notFoundMessage="Product Not Found !" resetLinkText="Go to HomePage!"></app-notfound>
<div *ngIf="Product" class="container top-space">
  <mat-card>
    <div class="row">
      <div class="col-md-6">
        <img [src]="'http://localhost:8080/product/productImage/'+Product.product_image" [alt]="Product.productName">
      </div>
      <div class="col-md-6">
        <div class="details">
          <div class="header">
            <span class="name">
              {{Product.productName}}
            </span>
          </div>
      
          <div class="row font-size">
            <div class="col-md-12">
              <span>
                <div class="display-flex">
                  <h5>
                    Posted By: <span class="mybtn">
                      {{Product.user.first_name + " " + Product.user.last_name | titlecase}}
                    </span>
                  </h5>
                </div>
              </span>
            </div>
            <div class="col-md-6 ">
              Category:
            </div>
            <div class="col-md-6 info">
              {{Product.productCategory.categoryName}}
            </div>
            <div class="col-md-6">
              Quantity:
            </div>
            <div class="col-md-6 info">
              {{Product.quantity +" "+ Product.measure}}
            </div>
            <div class="col-md-6">
              Date:
            </div>
            <div class="col-md-6 info">
              {{Product.date | date}}
            </div>
          </div>
            
          
      
          <div class="price">
            <span>
              {{Product.price | currency:"Rs"}} Per {{Product.measure}}
            </span>
          </div>
      
          <button (click)="addToCart()">Add to Cart</button>
      
        </div>
      </div>
    </div>
  </mat-card>

</div>