.tag-container{
  display: flex;
  justify-content: center;
}

.tag{
  background: rgb(0, 0, 0);
  color: aliceblue;
  padding: 8px 20px;
  margin: 4px;
  border-radius: 25px;
  transition: all .1s ease-in;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
}

.tag:hover{
  color: var(--myPrimary);
}


